<div class="group-check-card chat-card">
  <header class="card-header">
    <h3 class="check-name">{{ title }}</h3>
    {{#if dc }}
      <h4 class="check-dc">{{ localize "GroupCheck.TargetDC" }} <strong>{{ dc }}</strong></h4>
    {{/if}}
  </header>
  {{#if description }}
    <div class="card-content">
        {{ description }}
    </div>
  {{/if}}
  <hr>
  <div class="group-check-buttons">
    {{#each checks as |check| }}
      <button data-action="{{ check.action }}">
        {{ check.buttonLabel }}
      </button>
    {{/each}}
  </div>
  <div>
    <h4>{{ localize "GroupCheck.Results" }}</h4>
    {{#each results as |result| }}
      {{ result.actor.name }} rolled {{ result.roll.total }}<br><hr>
    {{/each}}
    {{#if showAverage }}
      {{ localize "GroupCheck.Average" }} {{ average }}
    {{/if}}
  </div>
</div>
